<section class="contact-section d-flex justify-content-center align-items-center vh-100 text-center">
    <div class="container">
      <h2 class="fw-bold text-uppercase">Contact Section</h2>
      <div class="divider">
        <span class="line"></span>
        <i class="fas fa-star"></i>
        <span class="line"></span>
      </div>

      <form class="w-75 mx-auto">
        <div class="mb-3 text-start">
          <input type="text" class="form-control" placeholder="userName" />
        </div>
        <div class="mb-3 text-start">
          <input type="number" class="form-control" placeholder="userAge" />
        </div>
        <div class="mb-3 text-start">
          <input type="email" class="form-control" placeholder="userEmail" />
        </div>
        <div class="mb-3 text-start">
          <input type="password" class="form-control" placeholder="userPassword" />
        </div>
        <div class="text-start">
          <button class="btn btn-success">send Message</button>
        </div>
      </form>
    </div>
  </section>
