<section >
  <div class="container title">
    <h1 class="site-title text-center mb-4">portfolio component</h1>
    <div class="divider">
      <span class="line"></span>
      <i class="fas fa-star"></i>
      <span class="line"></span>
    </div>
  </div>

  <div class="container mb-4">
    <div class="row g-4">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert1.png" class="w-100" alt="Image 1">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert2.png" class="w-100" alt="Image 2">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert3.png" class="w-100" alt="Image 3">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert1.png" class="w-100" alt="Image 4">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert2.png" class="w-100" alt="Image 5">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="img-box position-relative overflow-hidden">
          <img src="assets/images/poert3.png" class="w-100" alt="Image 6">
          <div class="overlay d-flex justify-content-center align-items-center">+</div>
        </div>
      </div>
    </div>
  </div>
</section>





