<section class="home d-flex justify-content-center align-items-center vh-100 text-center text-white">
    <div class="container">
      <img src="assets/images/avataaars.svg" class="avatar-img" alt="Avatar">
      <h1 class="site-title">START FRAMEWORK</h1>
      <div class="divider">
        <span class="line"></span>
        <i class="fas fa-star"></i>
        <span class="line"></span>
      </div>
      <p class="subtitle">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </section>